<%- include('../partials/header') %>

<p>my profile</p>
<% if (curUserId.toString() == viewedUserDoc._id.toString()) { %>
  
  <div id="formContainer"">
    <form action="/piece/<%= user._id %>/create" method="post">
      <label>Name:
        <input type="text" name="name" placeholder="Required" maxlength="60">
      </label><br>
      <label>Image URL:
        <input type="text" name="imageURL" placeholder="Required" maxlength="2000">
      </label><br>
      <label>Brand:
        <input type="text" name="brand" maxlength="60">
      </label><br>
      <label>Category:
        <select name="category">
          <option value="Top">Top</option>
          <option value="Bottom">Bottom</option>
          <option value="Dress">Dresse</option>
          <option value="Outerwear">Outerwear</option>
          <option value="Accessory">Accessory</option>
          <option value="Footwear">Footwear</option>
        </select>
      </label><br>
      <label>Price:
        <input type="number" name="price" maxlength="15">
      </label><br>
      <label>Website Link:
        <input type="text" name="link" maxlength="2000">
      </label><br>
      <label>Rating:
        <select name="rating">
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option value=5>5</option>
        </select>
      </label><br>
      <button type="submit" style="margin-bottom: 10px;">Add Piece</button>
    </form>

    <% } %>


      <% for (let piece of viewedUserDoc.pieces) { %>
          <div class="piece-div" id="<%= piece._id %>" user="<%= viewedUserDoc._id %>" >
              <div class="piece-details-div">
                  <p><strong>Name:</strong> <%= piece.name %></p>
                  <p><strong>Brand:</strong> <%= piece.brand %></p>
                  <p><strong>Category:</strong> <%= piece.category %></p>
                  <p><strong>Price:</strong> $<%= piece.price %></p>
                  <p><strong>Rating:</strong> <%= piece.rating %></p>
                  <a href="<%= piece.link %>" class="piece-web-link">Website</a>
              </div>
              <div class="piece-image-div">
                  <img class="piece-image" src="<%= piece.imageURL %>">
              </div>
          </div>
      <% } %>


<script src="/js/profile.js"></script>

<%- include('../partials/footer') %>
